<!DOCTYPE html>
<html>
<head>
<title>Login Page</title>
<link><link rel="stylesheet" type="text/css" href="/login.css">
</head>
<body>
	<div class="container">
	<form  action="/validate" method="post">
	
	<h2>Login Form</h2>
		<label>Email</label><br>
		<input type="email" name="email" placeholder="Enter your Email" ><br><br>
		<label>Password</label><br>
		<input type="password" name="password" placeholder="Enter your Password"><br><br>
		<input type="submit" value="LOGIN">
	</form>
	</div>

</body>
</html>