<!DOCTYPE html>
<html lang="en">
<head>

<title>Song Information</title>
<link rel="stylesheet" href="viewsongs.css" />
</head>

<body>

<h2>Song Information</h2>

<table border="1">
  <thead>
    <tr>
      <th>Name   </th>
      <th>Artist   </th>
      <th>Genre   </th>
      <th>Play   </th>
    </tr>
  </thead>
  <tbody>
    <tr th:each="song:${songs}">
      <td th:text="${song.sname}"></td>
      <td th:text="${song.artist}"></td>
      <td th:text="${song.genre}"></td>
      <td>
            <audio controls>
                <source th:src="${song.link}" type="audio/mpeg">
            </audio>
        </td>
    </tr>
  </tbody>
</table>

</body>
</html>
